@font-face {
  font-family: "soehne";
  src: url("/fonts/soehne-web-buch.woff2") format("woff2"),
    url("/fonts/soehne-web-buch.woff") format("woff"),
    url("/fonts/soehne-web-buch.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "soehne";
  src: url("/fonts/soehne-web-buch-kursiv.woff2") format("woff2"),
    url("/fonts/soehne-web-buch-kursiv.woff") format("woff"),
    url("/fonts/soehne-web-buch-kursiv.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "soehne";
  src: url("/fonts/soehne-web-halbfett.woff2") format("woff2"),
    url("/fonts/soehne-web-halbfett.woff") format("woff"),
    url("/fonts/soehne-web-halbfett.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "soehne";
  src: url("/fonts/soehne-web-fett.woff2") format("woff2"),
    url("/fonts/soehne-web-fett.woff") format("woff"),
    url("/fonts/soehne-web-fett.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "soehne breit";
  src: url("/fonts/soehne-breit-web-buch.woff2") format("woff2"),
    url("/fonts/soehne-breit-web-buch.woff") format("woff"),
    url("/fonts/soehne-breit-web-buch.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "soehne breit";
  src: url("/fonts/soehne-breit-web-fett.woff2") format("woff2"),
    url("/fonts/soehne-breit-web-fett.woff") format("woff"),
    url("/fonts/soehne-breit-web-fett.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "soehne mono";
  src: url("/fonts/soehne-mono-web-buch.woff2") format("woff2"),
    url("/fonts/soehne-mono-web-buch.woff") format("woff"),
    url("/fonts/soehne-mono-web-buch.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "soehne mono";
  src: url("/fonts/soehne-mono-web-halbfett.woff2") format("woff2"),
    url("/fonts/soehne-mono-web-halbfett.woff") format("woff"),
    url("/fonts/soehne-mono-web-halbfett.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
